rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    /**
     * @description Defines whether the current user is signed in
     */
    function isSignedIn() {
      return request.auth != null;
    }

    /**
     * @description Defines whether the current user is the owner of the resource.
     */
    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    /**
     * @description Defines whether the current user is an existing owner of the resource.
     */
    function isExistingOwner(userId) {
      return isOwner(userId) && resource.data != null;
    }

     /**
      * @description Checks if the requesting user is an admin.
      */
    function isAdmin() {
      return exists(/databases/$(database)/documents/roles_admin/$(request.auth.uid));
    }

    /**
     * @description Rules for documents in the /users/{userId}/membre/{memberId} collection.
     */
    match /users/{userId}/membre/{memberId} {
      allow get: if isOwner(userId);
      allow list: if isOwner(userId);
      allow create: if isOwner(userId);
      allow update: if isExistingOwner(userId);
      allow delete: if isExistingOwner(userId);
    }

    /**
     * @description Rules for documents in the /users/{userId}/donations/{donationId} collection.
     */
    match /users/{userId}/donations/{donationId} {
      allow get: if isOwner(userId);
      allow list: if isOwner(userId);
      allow create: if isOwner(userId);
      allow update: if isExistingOwner(userId);
      allow delete: if isExistingOwner(userId);
    }

    /**
     * @description Rules for documents in the /users/{userId}/transactions/{transactionId} collection.
     */
    match /users/{userId}/transactions/{transactionId} {
      allow get: if isOwner(userId);
      allow list: if isOwner(userId);
      allow create: if isOwner(userId);
      allow update: if isExistingOwner(userId);
      allow delete: if isExistingOwner(userId);
    }

    /**
     * @description Rules for documents in the /donationCategories/{categoryId} collection.
     */
    match /donationCategories/{categoryId} {
      allow get: if true;
      allow list: if true;
      allow create: if isAdmin();
      allow update: if isAdmin();
      allow delete: if isAdmin();
    }

    /**
     * @description Rules for documents in the /roles_admin/{adminId} collection.
     */
    match /roles_admin/{adminId} {
        allow get: if isAdmin();
        allow list: if false;
        allow create: if request.auth.uid == adminId;
        allow update: if false;
        allow delete: if false;
    }
  }
}